* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('./fondojuego.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}

.contenedor-total {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: auto; /* Centra el contenedor */
    
}

.cancha-contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto 0 auto; /* Ajusta el margen superior según sea necesario */
    width: 95vw; /* Ajusta el ancho según sea necesario */
    height: 95vh; /* Ajusta la altura según sea necesario */
    background-color: rgba(55, 82, 198, 0.5); /* Fondo semi-transparente */
    border-radius: 40px;
    border: 1px solid white;
}

.cancha {
    width: 100%; /* Ajusta el ancho para que ocupe todo el contenedor */
    height: 100%; /* Ajusta la altura para que ocupe todo el contenedor */
    object-fit: contain;
}

.jugadores-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.column {
   object-fit: contain;
    position: absolute;
    width: 150px; /* Ajusta el tamaño según sea necesario */
    height: 150px; /* Ajusta el tamaño según sea necesario */
    border-radius:30px;
    overflow: hidden;
    background-color: rgb(242, 242, 245);
}

